NODE_ENV=dev

COOKIE="sb=fRUnYfdJgyISVJjOC_KUdrCj; datr=fRUnYW5ixUgJj3oRXG8cTjhD; dpr=1.25; locale=en_GB; c_user=100039256149015; m_page_voice=100039256149015; oo=v1; m_pixel_ratio=1.25; xs=35:LnQuZa6qTItIaw:2:1674241132:-1:10943::AcVK8K-qOQaAsyAaT-BWZDt1T3nqtTMkilBGNjR8DQ; fr=0LHsg1KFpPLVEeTum.AWVBZCEKMTgzgubDwnS72PNsTag.BjyurZ.Xl.AAA.0.0.Bjy53b.AWVOw15fsP4; presence=C{"t3":[],"utc3":1674288714855,"v":1}; x-referer=eyJyIjoiL2RlZ28uY29zdGEuNTQ1P2Vhdj1BZmJtOWxSNDh3M1pWRWI5VjVoLVFQdzFxY29EYk1nYzk1eHpXRlFHcGpoMzlSYWdRRkFEN3VaNGg4T1o3ajBUeXU0JnBhaXB2PTAiLCJoIjoiL2RlZ28uY29zdGEuNTQ1P2Vhdj1BZmJtOWxSNDh3M1pWRWI5VjVoLVFQdzFxY29EYk1nYzk1eHpXRlFHcGpoMzlSYWdRRkFEN3VaNGg4T1o3ajBUeXU0JnBhaXB2PTAiLCJzIjoibSJ9; wd=1536x864"
USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36"
PORT=3001